    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Accounts
            <small>Add, edit, remove and view your accounts</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Accounts</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <a [routerLink]="['/new-account']" class="btn btn-flat btn-block btn-success"><i class="fa fa-university"></i> New account</a>
                    </div>
                </div>

                <br/>

                <finances-accounts-table 
                    (deleteAccountEvent)="deleteAccount($event)"
                    [accounts]="accounts"
                ></finances-accounts-table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->