<div class="table-responsive">
    <table [class.table-condensed]="condensedTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th>Accounting date</th>
                <th>Total value</th>
                <th>Account</th>
                <th>Category</th>
                <th>Credit card</th>
                <th>Status</th>
                <th *ngIf="showDeleteMovementButton"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movement of movements | async">
                <td>{{movement.Description}}</td>
                <td>
                    <span *ngIf="movement.Type == 'C'" class="label label-success">Credit</span>
                    <span *ngIf="movement.Type == 'D'" class="label label-danger">Debit</span>
                </td>
                <td>{{movement.AccountingDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{movement.TotalValue | number: '1.2-2'}}</td>
                <td>{{movement.Account.Name}}</td>
                <td>{{movement.Category.Name}}</td>
                <td class="text-center">
                    <i *ngIf="isCreditCardMovement(movement)" class="fa fa-check text-green"></i>
                    <i *ngIf="!isCreditCardMovement(movement)" class="fa fa-times text-red"></i>
                </td>
                <td>
                    <span *ngIf="isLaunched(movement)" class="text-green">
                        <i class="fa fa-check"></i> {{movement.MovementStatus}}
                    </span>
                    <span *ngIf="!isLaunched(movement)" class="text-yellow">
                        <i class="fa fa-exclamation-triangle"></i> {{movement.MovementStatus}}
                    </span>
                </td>
                <td *ngIf="showDeleteMovementButton" class="text-center">
                    <a (click)="deleteMovement(movement)" class="text-red link-button">
                        <i class="fa fa-ban"></i> Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.body -->

<div *ngIf="showNewMovementButton" class="box-footer clearfix">
    <a [routerLink]="['/new-movement']" class="btn btn-sm btn-info btn-flat pull-left"><i class="fa fa-plus"></i> New movement</a>
</div>
<!-- /.box-footer -->