<div class="table-responsive">
    <table class="table table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Limit</th>
                <th>Remaining limit</th>
                <th>Closure day</th>
                <th>Pay day</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let creditCard of creditCards | async">
                <td>{{creditCard.Name}}</td>
                <td>{{creditCard.Limit | number: '1.2-2'}}</td>
                <td>{{creditCard.RemainingLimit | number: '1.2-2'}}</td>
                <td>{{creditCard.InvoiceClosure}}</td>
                <td>{{creditCard.PayDay}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i> Options
                            <span class="fa fa-caret-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/credit-cards', creditCard.Id]"><i class="fa fa-eye"></i> Details</a></li>
                            <li><a [routerLink]="['/credit-cards/edit', creditCard.Id]"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                            <li class="divider"></li>
                            <li><a (click)="deleteCreditCard(creditCard)" style="cursor: pointer;"><i class="fa fa-trash"></i> Remove</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>