    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit account
            <small>Edit an existing account</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a [routerLink]="['/accounts', account.Id]">Account details</a></li>
            <li class="active">Edit account</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <form [formGroup]="updateAccountForm" role="form" novalidate>
                            <div 
                                [class.has-error]="!name.valid && name.touched" 
                                class="form-group"
                            >
                                <label>Name</label>
                                <input formControlName="name" type="text" name="" class="form-control" value="{{account?.Name}}">
                                <span *ngIf="!name.valid && name.touched" class="help-block">Obrigatório</span>
                            </div>
                            <div 
                                [class.has-error]="!type.valid && type.touched"
                                class="form-group"
                            >
                                <label>Type</label>
                                <select formControlName="type" class="form-control">
                                    <option 
                                        *ngFor="let option of getAvailableAccountTypes()" 
                                        [value]="option.value"
                                    >{{option.label}}</option>
                                </select>
                                <span *ngIf="!type.valid && type.touched" class="help-block">Obrigatório</span>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div 
                                        [class.has-error]="!initialBalance.valid && initialBalance.touched"
                                        class="form-group"
                                    >
                                        <label>Initial balance</label>
                                        <input formControlName="initialBalance" type="text" name="" class="form-control" value="{{account?.InitialBalance | number: '1.2-2'}}">
                                        <span *ngIf="!initialBalance.valid && initialBalance.touched" class="help-block">Obrigatório</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Balance</label>
                                        <input formControlName="balance" type="text" name="" class="form-control" value="{{account?.Balance | number: '1.2-2'}}" readonly="readonly">
                                    </div>
                                </div>
                            </div>

                            <br/>
                            
                            <button (click)="updateAccount()" [disabled]="!updateAccountForm.valid" type="button" class="btn btn-primary btn-flat pull-left"><i class="fa fa-floppy-o"></i> Update</button>
                         </form>
                    </div>
                </div>           
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>